name: Build REXX configmgr
on:
  push:
    branches:
      - v2.x/staging 
      - v2.x/master
      - v2.x/rc 
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
    inputs:
      PERFORM_RELEASE:
        description: '[Release] perform release'
        required: false
        default: 'false'
  

jobs:
  check-permission:
    runs-on: ubuntu-latest
    steps:
      # this action will fail the whole workflow if permission check fails
      - name: check permission
        uses: zowe-actions/shared-actions/permission-check@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  build-test:
    runs-on: ubuntu-latest
    needs: check-permission
    steps: 
      - name: '[Prep 1] Checkout'
        uses: actions/checkout@v2

      - name: '[Dep 1] Libyaml'
        uses: actions/checkout@v3
        with:
          repository: yaml/libyaml
          path: deps/configmgr/libyaml
          ref: '0.2.5'

      - name: '[Dep 2] Quickjs'
        uses: actions/checkout@v3
        with:
          repository: joenemo/quickjs-portable
          path: deps/configmgr/quickjs
          ref: 'main'

      - name: '[Prep 2] Setup jFrog CLI'
        uses: jfrog/setup-jfrog-cli@v2
        env:
          JF_ARTIFACTORY_1: ${{ secrets.JF_ARTIFACTORY_TOKEN }}

      - name: '[Prep 3] Set date'
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d%S')"

      - name: '[Prep 4] Set version'
        id: version
        run: echo "::set-output name=version::$(cat build/configmgr.proj.env | grep VERSION | cut -f 2 -d=)"

      - name: '[Prep 5] Set branchname'
        id: branch
        run: echo "::set-output name=branch::$(if [ -n '${{ github.head_ref }}' ]; then echo '${{ github.head_ref }}'; else echo '${{ github.ref_name }}'; fi | sed 's@/@_@g')"


      - name: '[Prep 6] Prepare workflow'
        uses: zowe-actions/shared-actions/prepare-workflow@main
      

      - name: '[Packaging] Make pax'
        uses: zowe-actions/shared-actions/make-pax@main
        with:
          pax-name: 'configmgr_rexx'
          pax-options: '-x os390 -pp'
          pax-local-workspace: './.pax/configmgr-rexx'
          pax-ssh-username: ${{ secrets.SSH_MARIST_USERNAME }}
          pax-ssh-password: ${{ secrets.SSH_MARIST_RACF_PASSWORD }}

      - name: '[Publish] Publish'
        uses: zowe-actions/shared-actions/publish@main
        if: success()
        with:
          artifacts: |
            .pax/configmgr-rexx/configmgr_rexx.pax
          publish-target-path-pattern: libs-snapshot-local/org/zowe/configmgr-rexx/${{ steps.version.outputs.version }}-${{ steps.branch.outputs.branch }}
          publish-target-file-pattern: configmgr_rexx-${{ steps.version.outputs.version }}-${{ steps.date.outputs.date }}.pax
          perform-release: ${{ github.event.inputs.PERFORM_RELEASE }}
 
